<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form >
                    <div class="form-group">
                        <input type="text" name="name" [(ngModel)]="invento.nombre" placeholder="Nombre del invento" class="form-control" id="encuesta-form" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name="anio" [(ngModel)]="invento.anio" placeholder="Anio de creacion" class="form-control" id="encuesta-form" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputName">Se creo en:</label>
                        <select class="custom-select" name="pais" [(ngModel)]="invento.pais">
                            <option value={{pais.ID_PAIS}} *ngFor="let pais of paises">{{pais.NOMBRE}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputName">Profesional asignado:</label>
                        <select class="custom-select" name="profesional" [(ngModel)]="invento.prof">
                            <option value={{prof.id}} *ngFor="let prof of profesionales">{{prof.nombre}}</option>
                        </select>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary" (click)="registrarInvento()">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>