<div class="col-md-6 offset-md-3">
    <table class="table table-hover">
        <thead class="bg-dark text-white">
            <tr align="center">
                <th  scope="col">Pais</th>
                <th  scope="col">Poblacion</th>
                <th  scope="col">Area</th>  
            </tr>    
        </thead>
        <tbody>
            <tr *ngFor = "let pais of paises">
                <td align="center">{{pais.NOMBRE}}</td>
                <td align="center">{{pais.POBLACION}}</td>
                <td align="center">{{pais.AREA}}</td>
            </tr>
        </tbody>
    </table>
</div>
    

